.App {
    text-align: center;
}

.App-header {
    background-color: #a24444;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px;
    cursor: pointer;
}

.spinner {
    height: 80px;
    margin: auto;
}

.App-intro {
    font-size: large;
}

* {
    box-sizing: border-box;
}

.cartas-contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.carta-pokemon {
    flex: 15%;
    border-radius: 12px;
    border: 1px solid #525659;
    background: #b79c54;
    padding: 8px;
    margin: 16px;
    display: flex;
}

.texto-carta-pokemon {
    width: 45%;
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
}

.imagen-carta-pokemon {
    width: 55%;
}

img.imagen-pokemon {
    width: 180px;
}

p.ide-carta-pokemon {
    margin: -22px 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pokebola {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #FFF;
    border: 5px solid #000;
    border-radius: 50%;
    box-shadow: inset -10px 10px 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: gira 4s infinite;
    margin: 20px auto;
}

.pokebola:before,
.pokebola:after {
    content: "";
    position: absolute;
}

.pokebola:before {
    background-color: #EF4036;
    width: 100%;
    height: 50%;
}

.pokebola:after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background-color: #000;
}

.pokebola-botao {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border: 10px solid #000;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 10;
}

.pokebola-botao:before {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border: 3px solid #000;
    border-radius: 50%;
    z-index: 10;
}

@keyframes gira {
    0% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}